.App {
  text-align: center;
  max-width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap');
p {
  font-family: 'Shippori Mincho B1', serif;
  color: #FFBD35;
}

html, body {
  padding:0px;
  margin:0px;
}

/* ArtStartHeader.js */
.art-start-header-image, img {
  object-fit: cover;
  width: 100%;
}

/* ArtButton.js */
.nav-btn {
  background-color: #FFBD35;
  color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: center;
  width: 240px;
  height: 60px;
  margin: 0 40px 0;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
}

.nav-btn-selected {
  background-color: white;
  color: #FFBD35;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: center;
  width: 240px;
  height: 60px;
  margin: 0 40px 0;
  border: none;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
}


/* ArtContainer.js */
.art-cards {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  /* box-shadow: 3px 4px #FFBD35 */
}


/* ArtShow.js */
.art-show-container {
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-rows: 200px;
  grid-column-gap: 40px;
}

.grid {
  background-color: transparent;
  color: white;
  padding: 25px;
}

.art-image {
  grid-column: 2 / 3;
  grid-row-start: 1;
}

.art-text {
  grid-column: 3 / 4;
  grid-row-start: 1;
  text-align: left;
}

.art-show-image {
  max-height: 40rem;
  width: auto;
}



/* DepartmentList.js */
/* .department-list {

} */



/* SearchBar.js */
/* .search-bar {

} */